*{
	
	margin-left: 0 px;
	color: black;
	font-family: 'Roboto', sans-serif;
	
}


.logo{
	margin-bottom: 0px;
}



.ola{
	font-size:  40px;
}

.texto1{
	margin-top: 40px;
	
}



.capa{
	display: inline-block;
	position: relative;
}

.textocapa{
	position: absolute;
	top: 145px;
	left: 60px;;
	font-size: 40px;
	color: black;

}


img.capa{
	
	object-fit: contain;
}

#inicio *{
	padding-bottom: 0px;
	color: black;
	font-family: 'Roboto', sans-serif;
}

#intro *{
	padding-top: 0px;
}

#sobre * {

	padding-top: 10px;
	padding-bottom: 15px;
	

}

#meunome{

	font-size: 20px;
}

h2{
	font-size: 45px;
}

#habilidade {
	padding-top: 80px;
	padding-bottom: 80px;
}



#contato * {
	

}


#footer * {
	
}